//transition the transform to try to smooth movement
$tileSize: 128px;

table {
  border-spacing: 0 ;
  border-collapse: collapse ;
  cell-spacing: 0 ;
  cell-padding: 0 ;
}


#outerBoundingBox{
	position: relative;
	width: 900px;
	margin: 0 auto;
	height: $tileSize*3 + 4;
	overflow: hidden;
	box-sizing: border-box;
	border: 2px solid black;
	z-index: -1;
}
#mapContainer{
	position: absolute;
}
.tile{
	box-sizing: border-box;
	width: $tileSize;
	height: $tileSize;
	border: 2px solid black;
}
img{
	width: 100%;
	height: 100%;

}
#playerTile{
	@extend .tile;
	z-index: 100;
	position: absolute;
	transform: translate($tileSize*3,$tileSize);
}
td.tile{
	padding: 0;
    margin: 0;
    width: 128px;
    height: 128px;
    position: static;
    display: inline-table;
}
td.tile,
td,
th, 
tr {
	display: inline-block;
  padding: 0;
}
